<div class="container-fluid justify-content-center">
  <div class="row justify-content-center">
    <h3 class="text-center">Liste</h3>
  </div>
</div>



<div class="container-fluid">

    <div class="mx-auto justify-content-center" style="width: 200px;">
      <button (click)="goCreatePokemon()" type="button" class="btn btn-success mx-auto" style="width:200px" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
        </svg>
        Ajouter
      </button>
    </div>
    <div class="mx-auto justify-content-center m-2" style="width: 500px;">
      <input #searchBox (keyup)="searchPokemon(searchBox.value)" placeholder="filtre pokemon" style="width:500px;">
    </div>
  </div>

<div class="container-fluid ">
  <div class="w-100 text-center"  *ngIf="!resultPokemon"  >Aucun pokemons trouvé</div>
  <div class="row justify-content-center" *ngIf="resultPokemon" >
    <div  appBorderCard borderCard="red" class="card   mb-3 p-20 m-2 rounded-3 shadow-lg" style="width: 18rem;" *ngFor="let item of pokemonList;" >
      <div class="row " >
        <img src="{{item.picture}}" class="card-img-top" alt="{{item.name}}" (click)="goToPokemonFiche(item);">
        <div class="card-body" (click)="goToPokemonFiche(item);">
          <h5 class="card-title">{{item.name}}</h5>
          <p class="card-text">
            Date: <small>{{item.created | date | date : "dd/MM/YYYY"}}</small><br>
            Type:
            <span
              *ngFor=" let type of item.types"
              class="{{type | pokemonTypeColor}} m-1 p-2">
                {{type}}
            </span>

          </p>




        </div>
      </div>
      <button type="button" class="btn btn-outline-danger" (click)="deletePokemon(item)" >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
        </svg>
        Supprimer
      </button>
    </div>
  </div>
</div>
